<%- include('header.ejs') %>

<div class="edit-container">
  <h1 class="title">Create New Note</h1>
  <form action="/notes/new" method="post" class="edit-note-form">
    <label for="note-body">Note:</label><br />
    <textarea name="body" id="note-body" rows="8" cols="80" required></textarea
    ><br />
    <input type="submit" value="Create Note" />
  </form>
  <p><a href="/notes">View All Notes</a></p>
</div>

<%- include('footer.ejs') %>
