<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <h1>Notes</h1>
    <ul>
        <% notes.forEach(note => { %>
            <li>
                <p><%= note.body %></p>
                <p>Posted at <%= note.location.lat %>, <%= note.location.lon %></p>
                <p>Posted at <%= note.time %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>
