<%- include('header.ejs') %>

<div id="form">
  <h1 class="title">Signup</h1>
  <form id="signup-form" action="/users/signup" method="post">
    <label for="email">Email:</label><br />
    <input type="email" id="signup-email" name="email" required /><br />
    <label for="password">Password:</label><br />
    <input
      type="password"
      id="signup-password"
      name="password"
      required
    /><br />
    <input type="submit" value="Create Account" />
    <a href="/users/login">Already have an account? Login</a>
  </form>
</div>

  <%- include('footer.ejs') %>
